html body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  background-color: #f5f7f9;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  color: #343434;
}

*,
::after,
::before {
  box-sizing: border-box;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

[v-cloak] {
  display: none;
}

/* Responsive images FTW */
img {
  max-width: 100%;
  height: auto;
}

a,
a:hover,
a:focus,
a:visited {
  color: #343434;
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

.tapotap{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.tapotap > .winner {
    display: flex;
    align-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 4em;
    user-select: none;
}

.tapotap > .red {
    background-color: red;
    height: 50vh;
    width: 100vw;    
    transition: all 200ms;
}

.tapotap > .green {
    background-color: green;
    height: 50vh;
    width: 100vw;
    transition: all 200ms;
}