<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>VueJS</title>

		<meta name="description" content="Du Web 1.0 à l'application mobile">
		<meta name="author" content="Valentin Brosseau">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/default.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', include the PDF print sheet -->
		<script>
			if( window.location.search.match( /print-pdf/gi ) ) {
				var link = document.createElement( 'link' );
				link.rel = 'stylesheet';
				link.type = 'text/css';
				link.href = 'css/print/pdf.css';
				document.getElementsByTagName( 'head' )[0].appendChild( link );
			}
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->

		<style>
			.reveal p{
				margin-bottom: 40px;
			}
		</style>

	</head>

	<body>

		<div class="reveal">

			<div class="slides">

				<section>
					<h1>VueJS</h1>
					<h3>Progressive JavaScript framework</h3>
					<p>
						<small>Par <a href="https://github.com/c4software">Valentin Brosseau</a> / <a href="http://twitter.com/c4software">@c4software</a></small>
					</p>
				</section>

				<section>
					<h3>progressive</h3>
					<p>Qui se passe ou se développe progressivement ou par étapes.</p>
					<h3>PWA</h3>
					<p>Progressive Web Apps</p>
				</section>

				<section>
					<h3>Le monde de demain sera Web</h3>
					<h4>Exemple de PWA</h4>
					<ul>
						<li>https://pwa.rocks/ (Liste d’exemples)</li>
						<li>https://mobile.twitter.com</li>
						<li>https://m.facebook.com (volontairement bridé)</li>
					</ul>
				</section>

				<section>
					<img src="./img/twitter.png">
					<p class="fragment">Bluffant n’est-ce pas ? (psst c’est du ReactJS)</p>
				</section>

				<section>
					<h3>Concretement une PWA c’est quoi ?</h3>
					<img src="./img/question.gif">
				</section>

				<section>
					<ul>
						<li>Pour tous, quelques soit le navigateur</li>
						<li>Responsive</li>
						<li>Indépendant du réseau (via des services Workers, fonctionne hors-ligne ou en ligne)</li>
						<li>App-like</li>
						<li>Toujours à jour</li>
						<li>Sûre (HTTPS)</li>
						<li>Découvrable et identifié comme application grâce au fichier manifest</li>
						<li>Notifications, envoyer de l’informations</li>
						<li>Installable</li>
						<li>Partageable (oui, c’est « juste » un lien)</li>
					</ul>
				</section>

				<section>
					<h3>Les points clefs</h3>
					<ul>
						<li>Le manifest (<a href="https://developer.mozilla.org/fr/docs/Web/Manifest">Lien</a>)</li>
						<li>Les services Workers (<a href="https://developer.mozilla.org/fr/docs/Web/API/Service_Worker_API/Using_Service_Workers">Lien</a>)</li>
					</ul>
				</section>

				<section>
					<h3>Les acteurs</h3>
					<ul>
						<li>Google</li>
						<li>Firefox</li>
						<li>Microsoft</li>
						<li>…</li>
					</ul>
				</section>

				<section>
					<h3>Repose sur le HTML5</h3>
					<p>Attention au support des Navigateurs</p>
					<ul>
						<li><a href="https://caniuse.com" target="_blank">Can I Use : Connaitre le support d’une fonctionnalitée</a></li>
						<li><a href="https://developer.mozilla.org/" target="_blank">MDM Webdoc</a></li>
					</ul>
				</section>

				<section>
					<h3>VueJS</h3>
					<p>Faire des PWA simplement</p>
				</section>

				<section>
					<h3>Le créateur</h3>
					<ul>
						<li>Evan You</li>
						<li>Ancien de chez Google</li>
						<li>Depuis 2016 à temps plein pour Vue.JS</li>
					</ul>
				</section>

				<section>
					<h3>Historique</h3>
					<ul>
						<li>Création : <strong>2013</strong></li>
						<li>Première version « stable » <strong>Fevrier 2014</strong></li>
						<li><strong>V1.0</strong> Octobre 2015</li>
						<li>Actuellement version <strong>2</strong></li>
					</ul>
				</section>

				<section>
					<h3>Pourquoi VueJS ?</h3>
					<p>Et pas ReactJS ou Angular…</p>
				</section>

				<section>
					<ul>
						<li>VueJS est « plus simple »</li>
						<li>Le site de VueJS est plus clair ?</li>
						<li>La fondation Apache ne veut pas des projets ReactJS (<a href="https://www.theregister.co.uk/2017/07/17/apache_says_no_to_facebook_code_libraries/">C’est un signe…</a>)</li>
						<li>Mais… Facebook à annoncer un changement dans les licences (très récemment)</li>
					</ul>
				</section>

				<section>
					<h3>VueJS en quelques mots</h3>
					<ul>
						<li>Flexible</li>
						<li>Performant</li>
						<li>Apprentissage très simple</li>
						<li>Orienté composants</li>
					</ul>
				</section>

				<section>
					<h3>Quelques stats</h3>
					<img src="./img/react.png">
					<img src="./img/vuejs.png">
				</section>

				<section>
					<h3>Qui utilise VueJS ?</h3>
					<ul>
						<li>GitLab</li>
						<li>Weex (Alibaba)</li>
						<li>Baidu</li>
						<li>…</li>
					</ul>
				</section>

				<section>
					<h2>Comment VueJS fonctionne ?</h2>
				</section>

				<section>
					<ul>
						<li>Virtual DOM (ne « re-dessine » que les zones modifiées)</li>
						<li>Fonctionnement en composant</li>
						<li>Des « .Vue » / Monofichier important tout le composant</li>
						<li>Un cycle de vie complet pour chaque composant</li>
					</ul>
				</section>

				<section>
					<img src="./img/flow.png">
				</section>

				<section>
					<img src="./img/fonctionnement.png" />
				</section>

				<section>
					<h3>L’objet VueJS</h3>
					<pre><code data-trim>
var vm = new Vue({
// Options
});
					</code></pre>
					<ul>
						<li>Constructeur de l’objet</li>
						<li>Propriétés et méthodes</li>
						<li>Cycle de vie</li>
					</ul>
				</section>

				<section>
					<a href="./img/component-lifecycle.png" target="blank"><img src="./img/component-lifecycle.png" ></a>
				</section>

				<section>
				<pre><code data-trim>
var vm = new Vue({
	el: "#demo",
	data: { demo: 1 },
	created: function () {
		 console.log('demo est: ' + this.a);
	}
});
				</code></pre>
				</section>

				<section>
					<h2>Un « vrai » exemple</h2>
					<a target="_blank" href="https://rawgit.com/c4software/bts/master/demo/vuejs/demo1/index.html">Démo</a>
				</section>

				<section>
					<h3>Les directives</h3>
					<p>Les directives sont des attributs html propre à VueJS</p>
					<ul>
						<li>v-on</li>
						<li>v-bind</li>
						<li>v-html</li>
						<li>v-show (masque un élément avec la propriété display: css)</li>
						<li>v-if</li>
						<li>v-else</li>
						<li>v-else-if</li>
						<li>v-for</li>
					</ul>
				</section>

				<section>
					<h3>Gestion des évènements</h3>
					<pre><code data-trim>
	var vm = new Vue({
		el: "#demo"
		data: { compteur: 0 },
		methods: {
			message: function(message){
			 alert(message)
		 	}
		}
	});
					</code></pre>
					<pre><code data-trim>
<div id="demo">
	<button @click="message('yolo')">Yolo</button>
	<button v-on:click="compteur += 1"></button>
	<p>Vous avez cliqué : {{compteur}}</p>
</div>
					</code></pre>
				</section>

				<section>
					<h3>Les conditions d’affichage</h3>
					<pre><code data-trim>
<div v-if="chaine === 'TEST'">1</div>
<div v-else-if="chaine === 'TEST1'">2</div>
<div v-else>Non 1 non 2</div>
					</code></pre>
				</section>

				<section>
					<h3>Les listes / Boucles</h3>
					<pre><code data-trim>
<ul>
	<li v-for="(items, index) in items">items.message</li>
</ul>

// Exemple structure de « items »
items = [
	{message: "Message 1"},
	{message: "Message 2"},
	{message: "Message 3"}
]
					</code></pre>
				</section>

				<section>
					<h3>Les évènements HTML / Les touches de modifications</h3>
					<pre><code data-trim>
<!-- Arrêt de la propagation de l’évènements -->
<a @click.stop="clickEvent"></a>

<!-- Le « submit » est intercepté, et le navigateur ne rechargera plus la page -->
<form @submit.prevent="onSubmit"></form>

<!-- Il est possible de les chainer -->
<a @click.stop.prevent="clickMessage"></a>

<!-- Également disponnible tab, delete, esc, space, ...-->
<input @keyup.enter="submit">
					</code></pre>
				</section>

				<section>
					<h2>Etc…</h2>
					<p>La suite en TP et sur <a href="https://vuejs.org/v2/guide/">le site de VueJS</a></p>
				</section>

				<section>
					<h3>VueJS « Deux modes » de fonctionnement</h3>
					<ul>
						<li>J’ajoute VueJS dans un dev existant (sans Webpack)</li>
						<li>Je crée une « application » Javascript (Avec Webpack)</li>
					</ul>
				</section>

				<section>
					<h3>Une application</h3>
					<p>On est vraiment loin d’une page Web dans la conception</p>
					<ul>
						<li>Gestion avec des imports</li>
						<li>Gestion des dépendances</li>
						<li>Similaire à une gestion classique (Comme Java, .Net…)</li>
					</ul>
				</section>

				<section>
					<h3>Les dépendances</h3>
					<h4>Le package.json</h4>
					<ul>
						<li>Des dépendances pour le dev</li>
						<li>Des dépendances pour l’application</li>
						<li>Gestion fine des version</li>
						<li>Vos dépendances, ont également des dépendances, etc!</li>
					</ul>
				</section>

				<section>
					<h2>Un composant</h2>
					<h3>La force des VueJS</h3>
				</section>

				<section>
					<h3>Mais c’est quoi ?</h3>
					<ul>
						<li>Un élément réutilisable</li>
						<li>Code générique</li>
					</ul>
				</section>

				<section>
					<img src="./img/barcharts_composants.png">
				</section>

				<section>
					<h3>Puissant car …</h3>
					<p>C’est pas uniquement du Javascript, c’est du javascript avec la puissance de <strong>webpack</strong></p>
				</section>

				<section>
					<h2>Webpack ?</h2>
					<img src="./img/questions.gif">
				</section>

				<section>
					<h2>Webpack</h2>
					<h3>Le « Module Bundler »</h3>
					<ul>
						<li>Assemble les « modules Javascript ».</li>
						<li>Concatenation « intelligente »</li>
						<li>Découpe les JS pour la distribution</li>
						<li>Assemble aussi des modules « css » (jusqu’aux images incluses)</li>
					</ul>
				</section>

				<section>
					<h2>Webpack-dev-server</h2>
					<h3>Et pour le dev ?</h3>
					<ul>
						<li>Serveur integré</li>
						<li>Surveille les changements (et recharge automatiquement)</li>
						<li>Hot reload</li>
					</ul>
				</section>

				<section>
					<h3>Et pour VueJS?</h3>
					<img src="./img/confused.gif">
				</section>

				<section>
					<h3>Le composant c’est</h3>
					<h2>Un fichier</h2>
					<img src="./img/composants_composition.png">
				</section>

				<section>
					<ul>
						<li>Le template</li>
						<li>Une CSS « scopée » / qui ne s’applique que pour le module</li>
						<li>Gestion des pré-processeur (Babel, Stylus, Sass, …)</li>
					</ul>
				</section>

				<section>
					<h3>C’est possible grâce à Webpack</h3>
					<ul>
						<li>Rechargement automatique</li>
						<li>Sans perdre le contexte grâce au « Hot Reload »</li>
					</ul>
				</section>

				<section>
					<img src="./img/composant.png" >
				</section>

				<section>
					<h3>Quelques différences avec les précédents exemples…</h3>
					<pre><code data-trim>
var vm = new Vue({
	el: "#demo",
	data: {demo: 1}
});
					</code></pre>
					<pre><code data-trim>
export default {
	data: () => {
		return {demo: 1}
	}
};
					</code></pre>
				</section>

				<section>
					<h3>Sauf que …</h3>
					<h4>Webpack c’est « compliqué » à mettre en place</h4>
				</section>

				<section>
					<h3>Chez VueJS ils ont créé vue-cli</h3>
					<ul>
						<li>Template de projet</li>
						<li>Rapide</li>
						<li>Étendable</li>
					</ul>
				</section>

				<section>
					<h3>Sorcellerie !</h3>
					<img src="./img/way_you_think.gif">
				</section>

				<section>
					<h3>Comment fait-on ?</h3>
					<pre><code data-trim>
npm install -g vue-cli
					</code></pre>

					<pre><code data-trim>
vue init webpack demonstration
					</code></pre>
				</section>

				<section>
					<img src="./img/init_vuejs.png">
				</section>

				<section>
					<h3>Le projet est « initialisé »</h3>
					<p>Psss: C’est le bon moment pour init le projet Git</p>
				</section>

				<section>
					<h3>Installation des dépendances (dossier ./nodes_modules/)</h3>
					<pre><code data-trim>
$ cd demonstration
$ npm install .
					</code></pre>
				</section>

				<section>
					<h3>Démo</h3>
					<p>C’est toujours mieux en vrai…</p>
				</section>

				<section>
					<h3>Lancement du code en Dev</h3>
					<pre><code data-trim>
$ npm run dev
					</code></pre>
				</section>

				<section>
					<img src="./img/demo_vuejs.png">
				</section>

				<section>
					<img src="./img/demo_app_vuejs.png">
				</section>

				<section>
					<h3>Le router</h3>
					<ul>
						<li>Gestion des « routes »</li>
						<li>Gestion des paramètres</li>
						<li>Assemblage</li>
					</ul>
				</section>

				<section>
					<a href="https://router.vuejs.org/fr/" target="_blank">Documentation</a>
				</section>

				<section>
					<h3>Les devs tools</h3>
					<ul>
						<li>Intégration dans le processus de developpement</li>
						<li>Permet de voir les « vue »</li>
						<li>L’état de vue</li>
						<li>Le « store »</li>
					</ul>
				</section>

				<section>
					<h3>Démo Dev Tools</h3>
					<img src="./img/devtools.png">
					<a href="https://rawgit.com/c4software/bts/master/demo/vuejs/demo1/index.html" target="_blank">Démo</a>
				</section>

				<section>
					<h3>Communication entre les .Vue</h3>
					<ul>
						<li>Événements natif</li>
						<li>Store</li>
						<li>Des composants Fils</li>
					</ul>
				</section>

				<section>
					<h3>Le « store » ?</h3>
					<img src="./img/confused.gif">
				</section>

				<section>
					<h3>Le store : Vuex</h3>
					<ul>
						<li>Gestionnaire d'état</li>
						<li>Bibliothèque (optionel) à VueJS</li>
						<li>Zone de stockage de données centralisée pour tous les composants dans une application</li>
						<li>S'assurer que l'état reste « cohérent »</li>
						<li>Visualisation de l’état grace au dev-tools</li>
					</ul>
				</section>

				<section>
					<h3>Fonctionnement</h3>
					<img src="./img/vuex.png">
				</section>

				<section>
					<h3>Quand utiliser un « store » ?</h3>
					<ul>
						<li>Application multi-vues</li>
						<li>Besoin de synchronisation entre les vues</li>
						<li>Évènement globaux entre les vues</li>
					</ul>
				</section>

				<section>
					<h3>Démo store</h3>
					<a href="https://vuex.vuejs.org/fr/getting-started.html" target="_blank">Exemple simple</a>
				</section>

				<section>
					<h3>L’affichage</h3>
				</section>

				<section>
					<h3>Mais je ne suis pas un graphiste !</h3>
					<img src="./img/sad.gif">
				</section>

				<section>
					<h3>La solution Vuetify</h3>
					<ul>
						<li>Ensemble de composants pour l’interface</li>
						<li>Respect Material Design</li>
						<li>Responsive</li>
						<li>Générique</li>
					</ul>
				</section>

				<section>
					<img src="./img/vuetify.png">
				</section>

				<section>
					<h3>Mais c’est génial !</h3>
					<img src="./img/yeah.gif">
				</section>

				<section>
					<a href="https://vuetifyjs.com/" target="_blank">La documentation</a>
					<br><br>
					<a href="https://github.com/c4software/Cliff-Height-Timer-VueJS" target="_blank">Démo</a>
				</section>

				<section>
					<h3>Des questions ?</h3>
					<p>(Il doit y en avoir beaucoup)</p>
				</section>

			</div>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: false,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

				keyboard: {
					38: 'prev',
					40: 'next',
					9: function() {Reveal.toggleOverview()}
				},

				// Parallax scrolling
				//parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
				//parallaxBackgroundSize: '2100px 900px',

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } },
				]
			});

		</script>

	</body>
</html>
