.reveal h1 {
  font-size: 2em;
}

.reveal h2 {
  font-size: 1.3em;
}

.reveal h3 {
  font-size: 1.1em;
}

.reveal h4 {
  font-size: 1em;
}

img,
video,
iframe {
  /*max-height: 65vh !important;
  max-width: 80vw !important;*/
  /*  max-height: 70% !important;
  max-width: 80% !important;
  margin: auto !important;*/
  object-fit: scale-down;
  max-height: 45vh !important;
  width: auto;
  margin: 0 !important;
  padding: 0 !important;
}

code:not(.hljs) {
  color: #476582;
  padding: 0.25rem 0.5rem;
  margin: 0;
  font-size: 0.85em;
  background-color: rgba(27, 31, 35, 0.2);
  border-radius: 3px;
}

code.hljs {
  padding: 18px 18px 18px 12px !important;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 20px 68px;
}

code.lang-sh {
  padding: 10px !important;
  border-radius: 5px;
  padding-top: 10px !important;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 20px 68px;
}

code.lang-sh::before {
  content: url("../img/icon.svg");
  display: block;
  padding-bottom: 10px;
}

.colContainer {
  display: flex;
}
.col {
  flex: 1;
}

iframe:not(.giphy-embed) {
  margin: 15px 0px !important;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #657b83 !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.custom-controls {
  position: absolute;
  right: 0;
  z-index: 200;
  color: var(--r-link-color);
  top: 10px;
}

.custom-controls > i {
  margin: 0 10px;
  cursor: pointer;
}
