fieldset {
    padding: 10px;
    font-size: 2rem;
    text-align: start;
    border-radius: 5px;
    border: 4px solid red;
}

fieldset>legend {
    background: red;
    color: white;
    padding: 0 10px;
    border-radius: 10px;
}

.frame-cover{
    position: absolute;
    width: 40%;
    right: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5), 0 5px 25px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff !important;
    padding: 20px;
    font-size: 20px;
    text-align: left;
}

.frame-cover > h2{
    color: white;
}